.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sitenav-list {
    display: flex;
    align-items: center;
    gap: 4.2rem;
}

.sitenav-link {
    color: var(--dark-gray-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}